*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100vw;
    height: 5rem;
    background-color: #131313;
    justify-content: space-between;
    position: fixed;
    z-index: 200;
}
.navbar-logo{
    width: 40%;
    padding: 0 0 0 5%;
    height: 100%;
}
.logo-png{
    width: 20rem;
    height: auto;
    cursor: pointer;
}
.navbar-menu{
    width: auto;
    height: 100%;
    padding: 0 5% 0 0;
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.ul{
    list-style: none;
}
.navbar-li{
    margin: 0 1rem ;
    cursor: pointer;
}
#login{
    color: #F99A51;
}