@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.App{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.d-f{
  display: flex;
}
.m-a{
  margin: auto;
}
.m-tb-a{
  margin-top: auto;
  margin-bottom: auto;
}